.bgh{
    background-image: url(../../images/burger3.jpg);
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerH{
    padding-top: 15%;
    margin-left: 3%;
}

.title{
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 3px 6px 6px rgb(192,157,92);
    font-family: cursive;
    animation: title-load 3s ease-in-out;
}
@keyframes title-load{
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5% 0;
}

.services-container{
    height: 80px;
    overflow: hidden;
}

.services-wrapper{
    height: 100%;
    animation: move 12s ease-in-out infinite;
}

@keyframes move{
    25% {
        transform: translateY(-80px);
    }
    50%{
        transform: translateX(-160px);
    }
    7% {
        transform: translateY(-240px);
    }
    1000%{
        transform: translateX(-320px);
    }
}

.services{
    height: 70px;
    font-size: 60px;
    color: green;
}
